body {
  font-family: "Roboto", sans-serif;
}
body .main-btn {
  background-color: #65daf9;
  color: #fff;
  text-transform: uppercase;
  width: 200px;
  height: 60px;
  padding: 10px 20px;
  border-radius: 30px;
  border: 3px solid transparent;
  transition: 0.5s;
  text-decoration: none;
}
body .main-btn:hover {
  color: #fff;
  background-color: transparent;
  border-color: #65daf9;
}
body .row {
  margin: 0;
}
body .container {
  padding: 70px 0;
}
body p,
body li {
  color: #444;
  font-size: 14px;
}
body header {
  background-color: #353d41;
}
body header #nav-container {
  padding-top: 0;
  padding-bottom: 0;
}
body header #nav-container .navbar {
  background-color: #353d41;
  padding: 0 15px;
}
body header #nav-container .navbar-brand {
  color: #fff;
}
body header #nav-container .navbar-brand:hover {
  color: #fff;
}
body header #nav-container .navbar-brand #logo {
  width: 75px;
}
body header #nav-container .navbar-expand-lg .navbar-nav .nav-link {
  padding: 1rem 0.8rem;
  cursor: pointer;
}
body header #nav-container .navbar-expand-lg .navbar-nav .active {
  font-weight: 600;
  color: #65daf9;
}
body main .container-fluid {
  padding: 0;
}
body main .container-fluid #mainSlider .carousel-inner, body main .container-fluid #mainSlider .carousel-item {
  height: 90vh;
}
body main .container-fluid #mainSlider .carousel-inner img, body main .container-fluid #mainSlider .carousel-item img {
  filter: grayscale(70%);
}
body main .container-fluid #mainSlider .carousel-caption {
  top: 30%;
}
body main .container-fluid #mainSlider .carousel-caption h2 {
  font-size: 50px;
  margin-bottom: 30px;
  text-shadow: 2px 2px #000;
  background: rgb(170, 167, 167);
  background: radial-gradient(circle, rgba(148, 148, 148, 0.131) 0%, rgba(217, 222, 224, 0) 100%);
}
body main .container-fluid #mainSlider .carousel-caption p {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 100px;
  color: #fff;
  text-shadow: 2px 2px #000;
  background: rgb(170, 167, 167);
  background: radial-gradient(circle, rgba(148, 148, 148, 0.131) 0%, rgba(217, 222, 224, 0) 100%);
}
body main .container-fluid #mainSlider .carousel-indicators .active {
  background-color: #65daf9;
}
body main .container-fluid .main-title {
  color: #444;
  margin: 0 0 65px 0;
  font-size: 40px;
  text-align: center;
  position: relative;
}
body main .container-fluid .main-title::after {
  content: "";
  border-top: 2px solid #333;
  width: 15%;
  position: absolute;
  top: 60px;
  left: 42.5%;
}
body main .container-fluid #about-area {
  background-color: #f9f9f9;
}
body main .container-fluid #about-area img {
  padding-bottom: 20px;
}
body main .container-fluid #about-area .about-title {
  font-size: 17px;
  color: #444;
  text-transform: uppercase;
  font-weight: bold;
}
body main .container-fluid #about-area #about-list {
  list-style: none;
  padding-left: 0;
}
body main .container-fluid #about-area #about-list li {
  line-height: 30px;
}
body main .container-fluid #about-area #about-list li i {
  color: #65daf9;
  margin-right: 15px;
}
body main .container-fluid #services-area .services-box {
  text-align: center;
  margin-bottom: 50px;
}
body main .container-fluid #services-area .services-box i, body main .container-fluid #services-area .services-box h4 {
  transition: 0.5s;
}
body main .container-fluid #services-area .services-box i {
  font-size: 36px;
  margin-bottom: 20px;
  color: #444;
}
body main .container-fluid #services-area .services-box h4 {
  font-size: 24px;
  margin-bottom: 20px;
}
body main .container-fluid #services-area .services-box:hover > i, body main .container-fluid #services-area .services-box:hover > h4 {
  color: #65daf9;
}
body main .container-fluid #data-area {
  background-color: #333;
}
body main .container-fluid #data-area #img-parallax {
  background-image: url(../img/cidadeparallax.png);
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}
body main .container-fluid #data-area .row {
  padding: 60px 20px;
}
body main .container-fluid #data-area p {
  color: #fff;
  text-align: center;
  font-size: 26px;
  margin-top: 20px;
}
body main .container-fluid #data-area .circle-box div {
  padding: 0 0px;
}
body main .container-fluid #data-area .circle-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .container-fluid #data-area .circle-content svg {
  width: 150px;
  height: 150px;
  position: relative;
}
body main .container-fluid #data-area .circle-content svg circle {
  width: 150px;
  height: 150px;
  fill: none;
  stroke: #65daf9;
  stroke-width: 10;
  transform: translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}
body main .container-fluid #data-area .circle-content svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #AAA;
}
body main .container-fluid #data-area .circle-content svg circle:nth-child(2) {
  stroke: #65daf9;
  transition: stroke-dashoffset 1s;
}
body main .container-fluid #data-area .circle-content .number {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
body main .container-fluid #data-area .circle-content .number h5 {
  font-weight: bold;
  font-size: 32px;
  color: #65daf9;
}
body main .container-fluid .card-body {
  text-align: center;
}
body main .container-fluid #apply-area {
  height: 500px;
}
body main .container-fluid #apply-area .container-fluid, body main .container-fluid #apply-area .row {
  height: 100%;
}
body main .container-fluid #apply-area .apply-box {
  text-align: center;
  padding: 70px 50px;
}
body main .container-fluid #apply-area #company-img {
  background-image: url(../img/empresa.jpg);
  background-size: cover;
  height: 100%;
}
body main .container-fluid #apply-area #pattern-img {
  background-image: url(../img/pattern.png);
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}
body main .container-fluid #apply-area #pattern-img h4, body main .container-fluid #apply-area #pattern-img p {
  color: #fff;
}
body main .container-fluid #apply-area #pattern-img h4 {
  margin-top: 8%;
  margin-bottom: 20px;
  text-transform: uppercase;
}
body main .container-fluid #apply-area #pattern-img p {
  margin-bottom: 20px;
}
body main .container-fluid #apply-area #pattern-img #apply-btn {
  display: block;
  height: auto;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background-color: transparent;
  border-color: #fff;
}
body main .container-fluid #apply-area #pattern-img #apply-btn:hover {
  border-color: #65daf9;
  background-color: #65daf9;
}
body main .container-fluid #portifolio-area #filter-btn-box {
  margin-bottom: 50px;
  text-align: center;
}
body main .container-fluid #portifolio-area #filter-btn-box .filter-btn {
  color: #444;
  border: 1px solid #444;
  background-color: transparent;
  text-transform: none;
  margin: 0 15px;
  min-width: 100px;
  width: auto;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
}
body main .container-fluid #portifolio-area #filter-btn-box .filter-btn.active, body main .container-fluid #portifolio-area #filter-btn-box .filter-btn:hover {
  color: #fff;
  background-color: #65daf9;
  border-color: #65daf9;
}
body main .container-fluid #portifolio-area .project-box {
  margin-bottom: 30px;
}
body main .container-fluid #news-area {
  text-align: center;
  background-color: #f9f9f9;
}
body main .container-fluid #news-area p {
  font-size: 18px;
  margin-bottom: 40px;
}
body main .container-fluid #news-area #email-input {
  border-radius: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px solid #65daf9;
  display: inline;
  box-sizing: border-box;
  width: 40%;
  height: 40px;
}
body main .container-fluid #news-area #email-input:focus {
  box-shadow: none;
}
body main .container-fluid #news-area #news-btn {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid #65daf9;
  background-color: #65daf9;
  text-transform: uppercase;
  color: #fff;
  height: 40px;
  padding: 0 30px;
  margin-left: -130px;
  position: absolute;
  transition: 0.5s;
}
body main .container-fluid #news-area #news-btn:hover {
  background-color: #fff;
  color: #65daf9;
}
body main .container-fluid #call-area {
  background-color: #65daf9;
  text-transform: uppercase;
}
body main .container-fluid #call-area .container {
  padding: 40px 100px;
}
body main .container-fluid #call-area .container .row {
  display: block;
  text-align: center;
}
body main .container-fluid #call-area .container .row p {
  color: #fff;
  font-weight: bold;
  margin-left: 30px;
  font-size: 20px;
  width: auto;
  letter-spacing: 2px;
  margin-bottom: 0;
  display: inline;
  height: 60px;
  line-height: 60px;
}
body main .container-fluid #call-area .container .row #call-btn {
  background-color: #fff;
  color: #65daf9;
  font-weight: bold;
  font-size: 20px;
  margin-left: 30px;
  width: auto;
  letter-spacing: 2px;
}
body #contact-area {
  text-align: center;
}
body #contact-area .contact-box {
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #65daf9;
}
body #contact-area .contact-box i {
  color: #444;
  border: 1px solid #444;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 24px;
  margin-bottom: 20px;
}
body #contact-area .contact-box p {
  font-size: 16px;
}
body #contact-area .contact-box p .contact-title {
  font-weight: bold;
  color: #3ec1d5;
}
body #contact-area #msg-box p {
  font-size: 22px;
}
body #contact-area #contact-form input[type=text], body #contact-area #contact-form input[type=email], body #contact-area #contact-form textarea {
  margin-bottom: 15px;
  border-radius: 0;
}
body #contact-area #contact-form .main-btn {
  width: 120px;
  height: 50px;
}
body #contact-area #contact-form .main-btn:hover {
  color: #3ec1d5;
}
body #copy-area {
  background-color: #f1f1f1;
}
body #copy-area .container {
  padding: 10px 0;
  text-align: center;
}
body #copy-area .container p {
  margin-bottom: 0;
}
body #copy-area .container p a {
  font-weight: bold;
  color: #444;
}
body #copy-area .container p a:hover {
  text-decoration: none;
  color: #3ec1d5;
}
body .main-title {
  color: #444;
  margin: 0 0 65px 0;
  font-size: 40px;
  text-align: center;
  position: relative;
}
body .main-title::after {
  content: "";
  border-top: 2px solid #333;
  width: 15%;
  position: absolute;
  top: 60px;
  left: 42.5%;
}

@media (max-width: 768px) {
  body main .container {
    padding: 20px 0;
  }
  body main .container-fluid #mainSlider .carousel-inner, body main .container-fluid #mainSlider .carousel-item {
    height: 80vh;
  }
  body main .container-fluid #mainSlider .carousel-caption {
    left: 10%;
    right: 10%;
  }
  body main .container-fluid #mainSlider .carousel-caption h2 {
    font-size: 28px;
  }
  body main .container-fluid #mainSlider .carousel-caption p {
    font-size: 18px;
    margin-bottom: 40px;
  }
  body main .container-fluid #about-area img {
    margin-top: 100px;
  }
  body main .container-fluid #data-area p {
    font-size: 16px;
  }
  body main .container-fluid #team-area .card-body .card-title {
    font-size: 14px;
  }
  body main .container-fluid #team-area .card-body .card-text {
    font-size: 12px;
  }
  body main .container-fluid #apply-area {
    height: auto;
  }
  body main .container-fluid #apply-area #company-img {
    display: none;
  }
  body main .container-fluid #apply-area .apply-box {
    padding: 50px 25px;
  }
  body main .container-fluid #news-area p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  body main .container-fluid #news-area #email-input {
    width: 70%;
  }
  body main .container-fluid #portifolio-area #filter-btn-box .filter-btn {
    margin-bottom: 20px;
  }
  body main .container-fluid #call-area {
    margin-top: 30px;
  }
  body main .container-fluid #call-area .container {
    padding: 30px;
  }
  body main .container-fluid #call-area .container p, body main .container-fluid #call-area .container #call-btn {
    font-size: 16px;
  }
}
@media (max-width: 425px) {
  body main .container-fluid .main-title {
    font-size: clamp(18px, 10vw, 30px);
  }
  body main .container-fluid #about-area img {
    margin-top: 25px;
  }
  body main .container-fluid #data-area .row {
    padding-left: 0;
    padding-right: 0;
  }
  body main .container-fluid #data-area .row .circle-box {
    width: 50%;
  }
  body main .container-fluid #data-area .row .circle-box p {
    padding-bottom: 20px;
    margin-top: 10px;
  }
  body main .container-fluid #data-area .row .circle-content .number h5 {
    font-size: 25px;
  }
  body main .container-fluid #news-area .main-title {
    font-size: 24px;
  }
  body main .container-fluid #news-area p {
    font-size: 16px;
  }
  body main .container-fluid #news-area #email-input {
    width: 75%;
  }
  body main .container-fluid #news-area #news-btn {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: -78px;
  }
  body main .container-fluid #call-area .container .row p, body main .container-fluid #call-area .container .row #call-btn {
    font-size: 14px;
    letter-spacing: 0;
    margin: 0;
    width: 60%;
    line-height: 10px;
    height: auto;
  }
  body #contact-area .main-title {
    font-size: 24px;
  }
  body #contact-area .contact-box {
    border: none;
    margin: 0;
  }
}

/*# sourceMappingURL=style.css.map */
